# Исполняемые файлы (бинарники)
*.exe
*.exe~
*.dll
*.so
*.dylib
app  # если компилируешь без расширения на Linux/Mac

# Файлы операционной системы
Thumbs.db
.DS_Store

# Временные файлы редакторов (например, VS Code)
.vscode/
*.swp
